*.iml
.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
**.flutter-plugins
**.flutter-plugins-dependencies
ios/.generated/
packages
.classpath
.project
.settings
.vscode
testing
*pubspec.lock
flutter_export_environment.sh
